/* 📌 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* 📌 모달 컨테이너 */
  .modal-container {
    background: #121212;
    width: 400px;
    max-width: 96%;
    border: 1px solid #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
  }
  
  /* 📌 모달 제목 */
  .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* 📌 입력 필드 */
  .modal-input {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
  }
  
  /* 📌 태그 목록 */
  .modal-content {
    border-top: 1px solid #444;
    max-height: 250px;
    overflow-y:auto;
    padding: 10px;
  }
  
  /* 📌 태그 카테고리 */
  .tag-category {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin: 8px 0 4px 0;
    color: #7d7d7d;
  }
  
  /* 📌 태그 목록 */
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  /* 📌 태그 버튼 */
  .tag-item {
    padding: 2px 6px;
    font-size: 12px;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    background: none;
    transition: background 0.2s ease-in-out;
  }
  
  .tag-item.selected {
    background: #007bff;
    color: white;
    border-color: #0056b3;
  }
  
  /* 📌 버튼 컨테이너 */
  .modal-buttons {
    border-top:1px solid #444;
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* 📌 취소 버튼 */
  .modal-cancel {
    width: 50%;
    background: #292929;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* 📌 저장 버튼 */
  .modal-save {
    width: 50%;
    background: #076cd8;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  
  .modal-save:disabled {
    background: #999;
    cursor: not-allowed;
  }
  .modal-textarea{
    width: 100%;
    padding: 14px;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    resize: none;
  }

  .input-container:not(:first-child) {
    border-top: 1px solid #444;
  }
  
  .input-container{
    text-align: left;
  }
  .input-container label{
    padding: 0 14px;
    color: #a7a7a7;
    font-size: 10pt;
  }